* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --chumbo-escuro: #1C1E22;
    --roxo-principal: #6A0DAD;
    --roxo-suave: #C9A8FF;
    --cinza-medio: #3A3D40;
    --branco-suave: #F2F2F3;
}

/* Áreas do GRID */
header { grid-area: header; }
main   { grid-area: main; }
footer { grid-area: footer; }

body {
    background: linear-gradient(45deg, var(--roxo-principal), var(--chumbo-escuro));
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;

    /* layout mobile (default) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: background 0.5s ease 
}


/* -------- HEADER -------- */
header {
    padding: 20px;
    padding-top: 50px;
}

header > img {
    border: solid 4px var(--roxo-principal);
    border-radius: 50%;
    height: 125px;
    transform: scale(1);
    transition: 70ms;
}

header > img:hover {
    border: 3px solid var(--branco-suave);
    box-shadow: 0 0 15px 5px var(--roxo-suave);
    transform: scale(1.1);
}


/* -------- LINKS -------- */
#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

#links a {
    background-color: var(--roxo-principal);
    display: block;
    width: 200px;
    color: var(--branco-suave);
    padding: 10px;
    border-radius: 20px;
    font-weight: 900;
    text-decoration: none;
}

#links a:hover {
    border: 1px solid var(--branco-suave);
    box-shadow: 0 0 15px 5px var(--roxo-suave);
    transform: scale(1.1);
    cursor: pointer;
}


/* -------- MAIN -------- */
h2 {
    margin-top: 10px;
}

main {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 600px;
}

main > article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
    min-height: 300px;
    text-align: center;
}

.text {
    text-align: justify;
    line-height: 1.7;
    margin: 10px;
    max-width: 300px;
}


/* -------- PORTFÓLIO -------- */
#lista-portifolio {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.portifolio {
    background-color: var(--chumbo-escuro);
    padding: 20px;
    height: 150px;
    width: 80%;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    transform: scale(1);
    transition: box-shadow 0.3s ease
}

.portifolio:hover {
    box-shadow: 0 0 10px 1px var(--roxo-suave);
    cursor: pointer;
}

.portifolio img {
    background-color: var(--branco-suave);
    width: 175px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    object-position: top; 
    transition: transform 0.3s ease;
}

.portifolio img:hover {
    transform: scale(1.3);
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px black;
}

.portifolio > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    padding: 10px;
}

.portifolio p {
    text-align: center;
    line-height: 1.7;
}


/* -------- FOOTER -------- */
footer {
    background-color: var(--chumbo-escuro);
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

footer p {
    margin-top: 40px;
}


/* -------- DESKTOP (GRID) -------- */
@media (min-width: 1024px) {
    
    body {
        background: linear-gradient(45deg, var(--chumbo-escuro), var(--roxo-principal));
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr auto;

        grid-template-areas:
            "header main"
            "header main"
            "footer footer";

        min-height: 100vh;
        text-align: left;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }

    #lista-portifolio {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        max-width: 800px;
    }

    .portifolio {
        flex-direction: column;
        height: 300px;
        width: 200px;
        align-items: center;
    }

    .portifolio img {
        height: 150px;
        width: auto;
        transition: transform 0.3s ease;
    }


    footer {
        text-align: center;
    }
}
